# 디폴트 무시된 파일
/../../../개인 공부/codingTestStudy/.idea/shelf/
/../../../개인 공부/codingTestStudy/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../개인 공부/codingTestStudy/.idea/httpRequests/
# Datasource local storage ignored files
/../../../개인 공부/codingTestStudy/.idea/dataSources/
/../../../개인 공부/codingTestStudy/.idea/dataSources.local.xml
